* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero */
.hero {
  background-color: black;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user-container {
  flex-basis: 90%;
  height: 85%;
  /* background-color: white; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.user {
  width: 200px;
  height: 100px;
  background-image: url("https://picsum.photos/200/100");
  position: relative;
}

.user-name {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.8em;
}

.settings {
  position: absolute;
  top: 10px;
  right: 10px;
}

.settings div {
  background-color: rgb(118, 115, 115);
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}

.view:hover,
.cross:hover {
  color: rgb(127, 255, 212);
  cursor: pointer;
}

.cross {
  margin-left: 5px;
}

/* Barra delle applicazioni */
.app-bar {
  height: 100px;
  background-color: rgb(48, 47, 47);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-left {
  display: flex;
  flex-basis: 15%;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  color: #fff;
}

.menu-left i {
  cursor: pointer;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  cursor: pointer;
  height: 100%;
}

.icon i {
  padding: 20px 30px;
}

.icon:hover {
  color: rgb(127, 255, 212);
  background-color: rgb(89, 87, 87);
}

.menu-mid {
  display: flex;
  flex-basis: 50%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.menu-right {
  display: flex;
  flex-basis: 10%;
  align-items: center;
  justify-content: center;
  color: rgb(220, 31, 31);
  background-color: rgb(89, 87, 87);
}

.close {
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
}

.arrow {
  height: 100%;
  line-height: 100px;
}

.arrow:hover {
  color: rgb(220, 31, 31);
  background-color: black;
}
